#contrasenya {
    color: red;
}

#flex-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#usuario,
#contrasenya,
#login {
    width: 200px;
    margin: 5px;
    border-radius: 10px; /*utiliza px en vez de % para que queden las esquinas circulares*/
}

#flex-global {
    display: flex;
    background-color: green;
    height: 750px;
    margin-left: 30px;
    margin-top: 80px;
    gap: 250px;
}

#flex-container1 {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: red;
    margin: 20px;
    width: 150px;
}

#flex-container2 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: yellow;
}

#flex-container3 {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    background-color: red;
}

.segura {
    color: green;
}

#loginBtn:enabled,
#login:enabled {
    background-color: darkblue;
    color: white;
}

/* Centrar las etiquetas <p> y <br> */
p,
br {
    display: block;
    text-align: center;
}
